@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu>
            <li>
                <h5 class="text-center m-0 text-white">Settings</h5>
            </li>

            <OptionToggle @bind-Value="data.Language" Options="data.Languages" />

            <SlideToggle @bind-IsActive="data.IsCodeTag" InactiveLabel="Pre Tag" ActiveLabel="Code Tag" />

            <SettingToggle @bind-IsActive="data.IsCopyable" ActiveClass="btn-warning">
                Copyable Code
            </SettingToggle>

            <SettingToggle @bind-IsActive="data.MatchBraces" ActiveClass="btn-secondary">
                Match Braces
            </SettingToggle>

            @if (data.IsCodeTag == false && !data.IsTerminal)
            {
                <NumberSetToggle @bind-IsActive="data.HasLineNumbers" @bind-Number="data.StartingLineNumber" Label="Line Numbers" />
            }

            <li>
                <hr class="my-2 mx-auto w-75 text-white" />
            </li>
            <li class="px-3 py-1" style="font-size: .9rem;">
                <button class="btn btn-sm toggle-btn btn-danger w-100" @onclick="ResetSettings">
                    Reset Settings
                </button>
            </li>
        </NavMenu>
    </div>

    <main class="main d-flex flex-column">
        <div class="top-row px-4" style="font-style: italic;">
            This Code Converter is used to convert code snippets to compatible HTML.
        </div>

        <article class="content px-4 flex-grow-1">
            <CascadingValue Value="data">
                @Body
            </CascadingValue>
        </article>

        <footer class="px-4 pt-2 pb-1 text-center" style="font-size: .8rem; color: #888;">
            &copy; @DateTime.Now.Year ya boy JTux
        </footer>
    </main>
</div>
