<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="">Code Converter</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column mt-3">
        @ChildContent
    </ul>
</div>
